<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ações deferidas</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/avaliador/acoes_deferidas.css">
</head>
<body>

    <div class="top-row-fixed">
        <a href="/avaliador/" class="pill-btn back-btn">voltar</a>

        <div class="profile-dropdown-container">
            <button id="open-profile" class="pill-profile">Perfil</button>

            <div id="profile-modal" class="modal hidden">
                <div class="modal-content">
                    <h4>Perfil</h4>
                    <a href="#" class="mini-btn">dados do usuário</a>
                    <a href="#" class="mini-btn">avaliações</a>
                    <a href="#" class="mini-btn">ações indeferidas</a>
                    <a href="#" class="mini-btn">sair da sessão</a>
                </div>
            </div>
        </div>
        </div>

    <main class="canvas">

        <div class="title">Ações deferidas</div>

        <div class="sections">
            <article class="card">
                <div class="fake-input large">
                    <div class="empty-message">Nenhuma ação deferia até o momento</div>
                </div>
            </article>
        </div>

    </main>

    <script src="../js/acoes_deferidas.js"></script>
</body>
</html>