<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Menu Principal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/avaliador/avaliador.css') }}">

</head>
<body>
  <main class="canvas">
    <div class="top-row">
      <button id="open-profile" class="pill-profile">Perfil</button>
    </div>

    <div class="title">Área do avaliador</div>

    <section class="actions-row">
      <a href="{{ url_for('avaliador.acoes_enviadas') }}" class="action-btn" id="btn-enviadas">
        Ações enviadas
      </a>

      <a href="{{ url_for('avaliador.acoes_deferidas') }}" class="action-btn" id="btn-deferidas">
        Ações deferidas
      </a>
    </section>

    <div class="sections">
      </div>
  </main>



  <script src="{{ url_for('static', filename='js/avaliador/avaliador.js') }}"></script>
</body>
</html>