<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Página do Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adm/admin.css') }}">
</head>
<body>
    <header class="top-bar">
        <h1 class="titulo">Página do Admin</h1>

        <div class="perfil-menu">
            <a href="/admin/logout"  class="hamburger">Logout</a>
        </div>
    </header>

    <main class="main-content">
        <a href="/admin/menuacoes" class="btn" >Menu Ações</a>
        <a href="/admin/menurecompensas" class="btn">Menu Recompensas</a>
        <a href="/admin/avaliadorespendentes" class="btn">Menu Avaliadores</a>
        <a href="/admin/buscaravaliador" class="btn">Buscar Avaliador</a>
        <a href="/admin/buscaraluno" class="btn">Buscar Aluno</a>
    </main>



    <script src="{{ url_for('static', filename='js/adm/admin.js') }}"></script>
</body>
</html>
